<div class="d-flex">
    <div class="d-flex m-2" style="flex-direction: column; width: 50%;">
        <button class="mb-3 btn btn-outline-success left-panel" routerLink="/private/employee-panel/book-lend">Lend a book</button>
        <button class="mb-3 btn btn-outline-success left-panel" routerLink="/private/employee-panel/book-return">Return a book</button>
        <button class="mb-3 btn btn-outline-success left-panel" routerLink="/private/employee-panel/book-add">Add a new book</button>
        <button class="mb-3 mt-5 btn btn-outline-success left-panel" routerLink="/">Back to home</button>
    </div>
    <div>
        List placeholder
    </div>
</div>
