<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand d-flex justify-content-between my-navbar">
        <div routerLink="" class="logo">
          Library Management App
        </div>
        <div *ngIf="test == 0">
          <button class="btn btn-outline-success me-2" style="margin-right: 2%" type="button" routerLink="/login">Login</button>
          <button class="btn btn-outline-success me-2" type="button" routerLink="/register">Register</button>
        </div>
       
        <div *ngIf="userRole! > 0" class="d-flex">
          <span style="margin-right: 4%" *ngIf="userInfo$ | async as userInfo">Hello, {{userInfo?.username}}</span>
          <div class="row" style="margin-right: 2%;">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Notifications</button>
                  <button *ngIf="userRole == ROLE_REGISTERED" routerLink="/private/user-panel" ngbDropdownItem>User Panel</button>
                  <button *ngIf="userRole == ROLE_ADMIN" routerLink="/private/admin-panel" ngbDropdownItem>Admin Panel</button>
                  <button *ngIf="userRole == ROLE_LIBRARY_EMPLOYEE" routerLink="/private/employee-panel" ngbDropdownItem>Employee Panel</button>
                </div>
              </div>
            </div>
          </div>
  
          <button class="btn btn-outline-success me-2" (click)="logoutButtonHandler()">Logout</button>
        </div>
      </a>
    </div>
  </nav>