<div class="book-details-container">
    <ng-container *ngIf="selectedBook$ | async as book">
        <h2>Book Details</h2>
        <h6><b>Title:</b> {{book.title}}</h6>
        <h6><b>Author:</b> {{book.author}}</h6>
        <h6><b>Genre:</b> {{book.genre}}</h6>

        <!-- {{book.description}} -->
        <div class="row mt-3">
            <div class="col-6"></div>
            <div class="col-6">
                <button *ngIf="hideReserveButton" class="btn btn-lg btn-secondary float-right">Reserve Book</button>
            </div>
        </div>
    </ng-container>

    <!-- <ng-container *ngIf="selectedBook$ | async as book">
        <div class="no-content">
            <h1>Select A Book</h1>
        </div>
    </ng-container> -->

</div>