<div class="row mt-4">
    <div class="col-md-12">
        <h3>Book Details</h3>
    </div>
</div>

<div class="row" style="background-color: #EAE6E6; min-height: 50px;">
    <div class="col-md-6 pt-4">
        <form>
            <div class="form-group">
                <label for="frmBookTitle">Book Title</label>
                <input type="text" readonly class="form-control-plaintext" id="frmBookTitle" [value]="bookInfo.title">
            </div>
            <div class="form-group">
                <label for="frmBookTitle">Book Author</label>
                <input type="text" readonly class="form-control-plaintext" id="frmBookTitle" [value]="bookInfo.author">
            </div>

            <div class="form-group">
                <label for="frmDueDate">Due Date</label>
                <input type="text" readonly class="form-control-plaintext" id="frmDueDate" [value]="bookInfo.lease_expiration_date||'-'">
            </div>

            <div class="form-group">
                <label for="frmLibraryAdd">Library Name</label>
                <input type="text" readonly class="form-control-plaintext" id="frmLibraryAdd" [value]="bookInfo.library_id.name">
            </div>


            <div class="form-group row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-secondary">Renew Lease</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <app-library-map></app-library-map>
    </div>
</div>