<hr>
<h3>Welcome to Admin Panel!</h3>
<p class="Welcome">Manage the libraries.</p>
<hr>
  <h4>List of Libraries/Books </h4>
<br/>

<th> Name/ </th>    
<th> X Coordinate/ </th> 
<th> Y Coordinate </th> 
<br>
<div class="row">
  <div class="col-md-6">  
<ul class= "list-group">
  <li
   class="list-group-item"
   *ngFor="let library of libraries; let i = index"
   [class.active]="i == currentLibraryIndex"
   (click)="setActiveLibrary(library, i)"
  >
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> {{ library.name }}</h5> </div>
      <small> <b>X:</b> {{ library.x_coordinate }} <b> Y:</b> {{ library.y_coordinate }} </small>

    </li></ul> 
    <br/> <br/>
  </div>
  <div class="col-md-6">
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let book of books; let i = index"
      [class.active]="i == currentBookIndex"
      (click)="setActiveBook(book, i)"
    >
      {{ book.author }}
    
      {{ book.title }}

      {{ book.genre }}
    
    </li>
  </ul>

   </div>
<form>
  <div class="row">
    <div class="col-md-4 form-group">
      <label for="name">Name</label>
      <input type = "text" id="name" name="name" [(ngModel)]="libraryName" class="form-control">
    </div>
    <div class="col-sm-2 form-group">
      <label for="XCoordinate">X Coordinate</label>
      <input type="text" id="XCoordinate" name="XCoordinate" [(ngModel)]="libraryXCoordinate" class="form-control">
    </div>
    <div class="col-sm-2 form-group">
      <label for="YCoordinate">Y Coordinate</label>
      <input type="text" id="YCoordinate" name="YCoordinate" [(ngModel)]="libraryYCoordinate" class="form-control">
    </div>
  </div>
    <div class="col-xs-20">
      <button class="btn btn-success" (click)="addLibrary()" type="submit">Add</button>
      
  </div>
</form>

 


